<footer class="footer">
<small>
    Powered by <a href="http://www.railstutorial.org/">Ruby on Rails </a>
    by <a href="http://mfc34.ru">damnadmster</a>
</small>
<nav>
    <ul>
        <li><%= link_to "Портал МФЦ", 'https://mfc.volganet.ru' %></li>
        <li><%= mail_to "it@mfc34.ru", 'Contact' %></li>
    </ul>
</nav>
</footer>
